*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeEditor{ 
    height: 500px;
    background: #202020;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 30px;
}

.delay {
    width: 10%;
}
